.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: $text-color;
  margin: 0 auto;
  h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: $font-primary;
    color: $color-primary;
  }
  form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    label {
      font-family: $font-primary;
      font-weight: 500;
      font-size: 1rem;
      margin-top: 30px;
    }
    input {
      padding: 10px;
      border: 1px solid rgba($color: #000000, $alpha: 0.3);
      border-radius: 5px;
      font-family: $font-primary;
      font-weight: 500;
      font-size: 1rem;
    }
    textarea {
      width: 100%;
      height: 200px;
      padding: 10px;
      border: 1px solid rgba($color: #000000, $alpha: 0.3);
      border-radius: 5px;
      font-family: $font-primary;
      font-weight: 500;
      font-size: 1rem;
    }
    button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-family: $font-primary;
      font-weight: 500;
      font-size: 1rem;
      background-color: $color-primary;
      color: white;
      cursor: pointer;
    }
  }
}
